<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <!--Header-->
    <header>
        <div class="menu" id="myNavbar">
            <a href=""></a>
            <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="/upload" class="w3-bar-item w3-button"><i class=""></i>물품등록</a>
            <!--로그인 안되어있을 시, 마이페이지 안나타나고, 로그인/회원가입 페이지가 있게,-->
            <!--로그인하면 마이페이지 생성하고, 로그인/회원가입 페이지 없애기-->
            <!--<a href="myPage.html" class="w3-bar-item w3-button"><i class=""></i>마이페이지</a>-->
        </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        </div>
    </header>

    <section class="changeInfo"></section>
    <section class=""></section>
    <section class="transactions"></section>
</body>
</html>