<html>
    <head>
        <%- include('partials/head') %>
    </head>
        <style>
            .container.item{
                width: 0;
                margin: 40px;
            }
        </style>
    <body>
        <!-- item_brand -->
        <div style="display:flex;" >
        <div class="container item">
            <div class="dropdown" id="mydropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                삼성
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">s20</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">s10</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">s9</a></li>
              </ul>
            </div> 
                <br/>
        </div>
        <!-- item_list -->
        <div style="display:flex;" >
            <div class="container item">
                <div class="dropdown" id="mydropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    엘지
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">G20</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">G10</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">G9</a></li>
                  </ul>
                </div> 
                    <br/>
            </div>
        <!-- item_price -->
        <div style="display:flex;" >
            <div class="container item">
                <div class="dropdown" id="mydropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    애플
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">iPhone 11</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">iPhone 10</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">iPhone 9</a></li>
                  </ul>
                </div> 
                    <br/>
            </div>
        </div>
        <sectionc>
            <button class="btn btn-primary" onclick=alert("등록완료!") >제품 등록</button>
        </sectionc>
    </body>
</html>